.content > ul > li{
    color: black;
    font-size: 18px;
}
.content > ul > li > span,
.content > ul > li > ul > span{
    font-weight: bold;
}
.content > ul > li > p{
    font-style: italic;
}
.content > ul > li > ul > li{
    color: red;
    font-size: 14px;
}
.content ul .no-active{
    display: none;
}
.content ul .active{
    display: list-item;
    list-style-type: square;
}