.block-animation {
    width: 130px;
    height: 130px;
    background-color: #2196F3;
    transition: background-color 1s linear;
}
.block-animation:hover {
    background-color: #3F51B5;
}
.block2-animation {
    width: 130px;
    height: 130px;
    background-color: #2196F3;
    transition: width 1s cubic-bezier(0, 0, 1, 1) 500ms;
}
.block2-animation:hover {
    width: 260px;
}
.circle {
    margin: 40px;
    background: green;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
    }
    50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }
    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }
}

@keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
    }
    50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }
    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }
}
