*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:0;
    outline: 0;
}
.tab-title,.tab-content{
    list-style:none;
}
.container{
    font-family:sans-serif;
    margin-top:50px;
}
.tab-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}
.tab-title li{
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}
.tab-title li.active{
    background-color:#937341 ;
    color: #23201D;
}
.tab-content li{
    display:none;
    margin-left: 500px;
    margin-right: 500px;
}