@media (min-width: 321px) and (max-width: 640px) {
  body {
    min-width: 640px; }
  header nav {
    height: 74px; }
    header nav .nav-name {
      font-size: 24px;
      margin-left: 38px;
      padding-top: 26px; }
    header nav .nav-menu {
      width: 82px; }
      header nav .nav-menu i {
        font-size: 30px; }
      header nav .nav-menu-close {
        width: 82px; }
        header nav .nav-menu-close i {
          font-size: 30px; }
    header nav .menu-list {
      margin-top: 19px; }
      header nav .menu-list div {
        font-size: 20px;
        width: 311px;
        height: 69px; }
  header .main-title {
    background: url("../img/header-fon-640.png");
    height: 346px; }
    header .main-title .title {
      padding-top: 30px;
      padding-left: 38px;
      font-size: 36px; }
    header .main-title .main-url {
      padding-top: 22px;
      padding-left: 37px;
      font-size: 24px; }
  .wrapper-products .product {
    height: 150px; }
    .wrapper-products .product .title {
      font-size: 36px;
      width: 498px; }
      .wrapper-products .product .title.pizza {
        background: url("../img/pizza-fon-640.png") 0 160px;
        height: 150px; }
        .wrapper-products .product .title.pizza div {
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: 0;
          height: 100%; }
      .wrapper-products .product .title.salad {
        background: url("../img/salads-fon-640.png") 0 160px;
        height: 150px; }
        .wrapper-products .product .title.salad div {
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: 0;
          height: 100%; }
      .wrapper-products .product .title.dessert {
        background: url("../img/desserts-fon-640.png") 0 -27px;
        height: 150px; }
        .wrapper-products .product .title.dessert div {
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: 0;
          height: 100%; }
    .wrapper-products .product .btn-info {
      width: 142px;
      height: 150px; }
      .wrapper-products .product .btn-info i {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 100%; }
  .wrapper-menu .wrapper-title {
    font-size: 26px;
    padding-left: 21px;
    padding-top: 21px; }
  .wrapper-menu .wrapper-description {
    padding-left: 22px;
    font-size: 13px; }
  .wrapper-menu .menu-title {
    height: 75px; }
    .wrapper-menu .menu-title div {
      font-size: 26px;
      padding-left: 34px;
      padding-top: 23px; }
    .wrapper-menu .menu-title.second div {
      font-size: 26px;
      padding-left: 34px;
      padding-top: 23px; }
  .wrapper-menu .list-products {
    padding-left: 34px; }
    .wrapper-menu .list-products .title div {
      font-size: 25px;
      margin-top: 30px; }
    .wrapper-menu .list-products .title .w640 {
      display: inline; }
    .wrapper-menu .list-products .title .w320, .wrapper-menu .list-products .title .w980, .wrapper-menu .list-products .title .w1200 {
      display: none; }
    .wrapper-menu .list-products .title img {
      top: -9px;
      right: 36px; }
    .wrapper-menu .list-products .title.second img {
      top: 24px;
      right: 46px; }
    .wrapper-menu .list-products .title.cup img {
      top: 23px;
      right: 31px; }
    .wrapper-menu .list-products .title.cup2 img {
      top: 29px;
      right: 32px; }
    .wrapper-menu .list-products .product-name .title {
      font-weight: normal;
      font-size: 20px; }
    .wrapper-menu .list-products .product-name .price {
      right: 35px;
      top: 17px;
      font-size: 20px; }
    .wrapper-menu .list-products .product-name .description {
      font-weight: normal;
      padding-right: 36px;
      font-size: 10px; }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 97px;
    margin-top: 117px;
    padding: 0; }
    footer div {
      padding: 0;
      margin: 0;
      font-size: 18px; }
      footer div.second-line {
        padding-top: 5px; } }
