body {
  min-width: 320px; }

header {
  display: block; }
  header nav {
    position: relative;
    background-color: #373c3f;
    height: 37px;
    font-family: 'Montserrat', sans-serif; }
    header nav .nav-name {
      max-width: 300px;
      font-size: 12px;
      margin-left: 18px;
      padding-top: 10px;
      color: white; }
    header nav .nav-menu {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3;
      cursor: pointer;
      background-color: #202529;
      color: white;
      width: 41px;
      height: 100%; }
      header nav .nav-menu i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; }
      header nav .nav-menu-close {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        cursor: pointer;
        background-color: #202529;
        color: white;
        width: 41px;
        height: 100%; }
        header nav .nav-menu-close i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 22px;
          width: 100%; }
    header nav .menu-list {
      display: none;
      cursor: pointer;
      z-index: 4;
      margin-top: 12px;
      position: absolute;
      right: 0; }
      header nav .menu-list div {
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-size: 10px;
        background-color: #f3f3f3;
        width: 172px;
        height: 32px;
        border-bottom: 0.5px #cbcbcb solid; }
        header nav .menu-list div span {
          position: relative;
          left: 3px;
          top: 2px; }
        header nav .menu-list div:hover {
          background-color: #cbcbcb; }
      header nav .menu-list.active {
        display: block; }
  header .main-title {
    background: url("../img/header-fon.png");
    width: 100%;
    height: 173px; }
    header .main-title .title {
      padding-top: 14px;
      padding-left: 20px;
      font-size: 16px;
      font-weight: bold;
      color: white; }
      header .main-title .title div:nth-child(2) {
        padding-top: 4px; }
    header .main-title .main-url {
      padding-top: 7px;
      padding-left: 20px;
      font-size: 14px;
      font-weight: bold;
      color: #a6d6e0; }

.wrapper-products {
  margin-top: 4px; }
  .wrapper-products .product {
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    margin-top: 2px; }
    .wrapper-products .product .title {
      color: white;
      font-size: 20px;
      width: 249px;
      height: 100%; }
      .wrapper-products .product .title.pizza {
        background: url("../img/pizza-fon.png") -21px 87px;
        height: 75px; }
        .wrapper-products .product .title.pizza div {
          font-weight: bold;
          padding-top: 23px;
          padding-left: 63px; }
      .wrapper-products .product .title.salad {
        background: url("../img/salads-fon.png") 0 86px;
        height: 75px; }
        .wrapper-products .product .title.salad div {
          font-weight: bold;
          padding-top: 25px;
          padding-left: 74px; }
      .wrapper-products .product .title.dessert {
        background: url("../img/desserts-fon.png") 0 -27px;
        height: 75px; }
        .wrapper-products .product .title.dessert div {
          font-weight: bold;
          padding-top: 24px;
          padding-left: 83px; }
    .wrapper-products .product .btn-info {
      cursor: pointer;
      width: 71px;
      background-color: #acd8ad;
      height: 100%; }
      .wrapper-products .product .btn-info i {
        font-size: 13px;
        color: white;
        padding-left: 30px;
        padding-top: 29px; }
      .wrapper-products .product .btn-info:hover {
        background-color: #7aa67b; }

.wrapper-menu .wrapper-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #202529;
  padding-left: 8px;
  padding-top: 18px; }

.wrapper-menu .wrapper-description {
  padding-left: 10px;
  font-size: 10px;
  color: #cbccce; }

.wrapper-menu .menu-title {
  height: 37px;
  margin-top: 10px;
  background-color: #3f4043; }
  .wrapper-menu .menu-title div {
    font-size: 20px;
    color: #acd8ad;
    text-transform: uppercase;
    padding-left: 18px;
    padding-top: 6px; }
  .wrapper-menu .menu-title.second {
    background-color: #acd8ad;
    margin-top: 29px; }
    .wrapper-menu .menu-title.second div {
      font-size: 20px;
      color: white;
      text-transform: uppercase;
      padding-left: 18px;
      padding-top: 6px; }

.wrapper-menu .list-products {
  padding-left: 17px; }
  .wrapper-menu .list-products .title {
    position: relative;
    width: 100%; }
    .wrapper-menu .list-products .title div {
      font-size: 15px;
      text-transform: uppercase;
      color: #373c3f;
      margin-top: 15px; }
    .wrapper-menu .list-products .title .w640, .wrapper-menu .list-products .title .w980, .wrapper-menu .list-products .title .w1200 {
      display: none; }
    .wrapper-menu .list-products .title img {
      position: absolute;
      top: -4px;
      right: 17px; }
    .wrapper-menu .list-products .title.second {
      padding-top: 5px; }
      .wrapper-menu .list-products .title.second img {
        position: absolute;
        top: 17px;
        right: 22px; }
    .wrapper-menu .list-products .title.cup {
      padding-left: 2px;
      padding-top: 1px; }
      .wrapper-menu .list-products .title.cup img {
        position: absolute;
        top: 13px;
        right: 17px; }
  .wrapper-menu .list-products .product-name {
    color: #373c3f;
    position: relative;
    font-weight: bold;
    font-size: 13px; }
    .wrapper-menu .list-products .product-name .title {
      padding-top: 18px;
      padding-left: -2px;
      font-weight: bold;
      font-size: 13px; }
    .wrapper-menu .list-products .product-name .price {
      position: absolute;
      right: 16px;
      top: 17px;
      font-weight: bold;
      font-size: 14px; }
    .wrapper-menu .list-products .product-name .description {
      padding-top: 6px;
      font-size: 8.5px; }
    .wrapper-menu .list-products .product-name.second {
      margin-top: -10px; }

footer {
  margin-top: 48px;
  width: 100%;
  height: 55px;
  background-color: #acd8ad; }
  footer div {
    padding-top: 4px;
    padding-left: 5px;
    font-size: 14px;
    color: white;
    text-align: center; }
    footer div.second-line {
      padding-top: 1px;
      padding-left: 2px; }
