@media (min-width: 641px) and (max-width: 980px) {
  body {
    min-width: 980px; }
  header nav {
    position: relative;
    height: 96px; }
    header nav .nav-name {
      display: none; }
    header nav .nav-menu {
      display: none; }
      header nav .nav-menu-close {
        display: none; }
    header nav .nav-logo {
      position: absolute;
      top: 8px;
      right: 30px;
      background: url("../img/navigation-logo-980.png");
      width: 104px;
      height: 83px; }
    header nav .menu-list {
      display: flex;
      align-items: center;
      cursor: unset;
      margin: 0;
      width: 800px;
      height: inherit;
      position: unset; }
      header nav .menu-list div {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 0;
        margin: 0;
        cursor: unset;
        font-size: 15px;
        text-transform: uppercase;
        background-color: inherit;
        border-bottom: none; }
        header nav .menu-list div span {
          cursor: pointer; }
        header nav .menu-list div:hover {
          background-color: initial; }
  header .main-title {
    background: url("../img/header-fon-980.png");
    width: 100%;
    height: 530px; }
    header .main-title .title {
      padding-top: 64px;
      padding-left: 30px;
      font-size: 54px; }
      header .main-title .title div:nth-child(2) {
        padding-top: 10px; }
    header .main-title .main-url {
      padding-top: 57px;
      padding-left: 30px;
      font-size: 34px; }
  .wrapper-products {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 6px; }
    .wrapper-products .product {
      height: 327px;
      width: 100%; }
      .wrapper-products .product .title {
        font-size: 38px;
        width: 100%;
        height: 100%; }
        .wrapper-products .product .title.pizza {
          background: url("../img/pizza-fon-980.png");
          height: 327px; }
          .wrapper-products .product .title.pizza div {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            height: 100%;
            padding: 0;
            margin: 0; }
        .wrapper-products .product .title.salad {
          background: url("../img/salads-fon-980.png");
          height: 327px; }
          .wrapper-products .product .title.salad div {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            height: 100%;
            padding: 0;
            margin: 0; }
        .wrapper-products .product .title.dessert {
          background: url("../img/desserts-fon-980.png");
          height: 327px; }
          .wrapper-products .product .title.dessert div {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            height: 100%;
            padding: 0;
            margin: 0; }
      .wrapper-products .product .btn-info {
        display: none; }
  .wrapper-menu {
    position: relative; }
    .wrapper-menu .wrapper-title {
      font-size: 32px;
      padding-left: 30px;
      padding-top: 72px; }
    .wrapper-menu .wrapper-description {
      padding-left: 30px;
      font-size: 16px; }
    .wrapper-menu .menu-logo {
      position: absolute;
      top: 47px;
      right: 29px;
      width: 109px;
      height: 89px;
      background: url("../img/menu-logo-980.png"); }
    .wrapper-menu .row {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%; }
      .wrapper-menu .row .menu-title {
        display: flex;
        align-items: center;
        align-items: center;
        height: 75px;
        margin-top: 21px;
        padding: 0 0 0 18px;
        width: 490px; }
        .wrapper-menu .row .menu-title div {
          font-size: 32px;
          padding-left: 18px;
          padding-top: 6px; }
        .wrapper-menu .row .menu-title.second {
          margin-top: 23px;
          padding: 0 0 0 18px;
          width: 456px; }
          .wrapper-menu .row .menu-title.second div {
            font-size: 32px;
            padding-left: 18px;
            padding-top: 6px; }
      .wrapper-menu .row .list-products {
        padding-left: 19px; }
        .wrapper-menu .row .list-products .title div {
          font-size: 17px;
          margin-top: 31px; }
        .wrapper-menu .row .list-products .title .w320, .wrapper-menu .row .list-products .title .w640, .wrapper-menu .row .list-products .title .w1200 {
          display: none; }
        .wrapper-menu .row .list-products .title .w980 {
          display: block; }
        .wrapper-menu .row .list-products .title img {
          position: absolute;
          top: -14px;
          right: 14px; }
        .wrapper-menu .row .list-products .title.second {
          padding-top: 0; }
          .wrapper-menu .row .list-products .title.second img {
            position: absolute;
            top: -14px;
            right: 24px; }
        .wrapper-menu .row .list-products .title.cup {
          padding-left: 0;
          padding-top: 1px; }
          .wrapper-menu .row .list-products .title.cup img {
            position: absolute;
            top: 23px;
            right: 33px; }
        .wrapper-menu .row .list-products .title.cup2 {
          padding-left: 0;
          padding-top: 1px; }
          .wrapper-menu .row .list-products .title.cup2 img {
            position: absolute;
            top: 23px;
            right: 33px; }
        .wrapper-menu .row .list-products .product-name {
          font-size: unset; }
          .wrapper-menu .row .list-products .product-name .title {
            padding-top: 24px;
            font-size: 16px; }
          .wrapper-menu .row .list-products .product-name .price {
            right: 16px;
            top: 26px;
            font-weight: bold;
            font-size: 14px; }
          .wrapper-menu .row .list-products .product-name .price-col2 {
            right: 36px;
            top: 26px;
            font-weight: bold;
            font-size: 14px; }
          .wrapper-menu .row .list-products .product-name .description {
            padding-top: 10px;
            padding-right: 10px;
            font-size: 11px; }
          .wrapper-menu .row .list-products .product-name .description-col2 {
            padding-right: 34px;
            font-size: 11px; }
          .wrapper-menu .row .list-products .product-name.second {
            margin-top: -10px; }
  footer {
    position: relative;
    height: 97px; }
    footer .footer-logo {
      position: absolute;
      background: url("../img/navigation-logo-980.png") no-repeat;
      width: 104px;
      height: 83px;
      left: 30px;
      top: 8px; }
    footer .text {
      display: flex;
      align-items: center;
      padding: 0 0 0 420px;
      margin: 0;
      font-size: 22px;
      height: 100%; }
      footer .text div {
        padding: 0;
        margin: 0;
        font-size: 18px; }
        footer .text div.second-line {
          padding-left: 5px; } }
