body.wrapper2{
    background-color: #313538;
}
.nav2-a{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
.nav2-a a{
    color: #9c51a0;
    text-decoration: none;
    font-family: 'Roboto Black', sans-serif;
    margin-right: 40px;
    margin-left: 40px;

}
.main-img2,
.content2{
    background-color: #5a5a5b;
}
.content2{
    padding-top: 56px;
    text-align: center;
}
.content2 h3{
    font-family: 'Roboto Black', sans-serif;
}
.content2 p{
    margin-bottom: 41px;
    font-family: 'Roboto', sans-serif;

    margin-left: 107px;
    margin-right: 107px;
}
.content2 button{
    background: #9c51a0;
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 18px 48px;
    border: none;
    border-radius: 5px;
    margin-bottom: 97px;
}
.footer2-p{
    text-align: right;
    margin-right: 60px;
    margin-top: 44px;
    margin-bottom: 44px;
    font-family: 'Roboto Black', sans-serif;
    color: #b0b0b0;
}