html{
    width: 1280px;
}
.text-logo{
    margin-top: 47px;
    margin-left: 81px;
    margin-bottom: 45px;
}
.text-logo a,
.bar-menu a,
.left-menu a,
footer a{
    text-decoration: none;
}
.text-logo span{
    font-size: 60px;
    font-family: Roboto;
}
.bar-menu{
    text-align: center;
    background-color: #35444f;
    margin-left: 86px;
}
.bar-menu div{
    display: inline-block;
    color: white;
    padding: 26px 40px 21px;
    font-size: 22px;
    font-family: Roboto;
}
.bar-menu div:hover {
    background-color: #222f3a;
}
.content{
    vertical-align: text-top;
    display: inline-block;
}
.left-menu{
    width: 244px;
    margin: 51px 86px;
    border: 1px solid black;
}
.left-menu div{
    padding: 15px 45px;
    font-size: 14px;
    font-family: Roboto;
    color: #495863;
}
.left-menu div:hover {
    background-color: #dbdbdb;
    color: black;
}
.img-content{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-top: 51px;
    width: 840px;
    height: 400px;
    border: 1px solid black;
}
.img-content img {
    transition: 3s;
    display: block;
}

.img-content img:hover{
    transform: scale(3.0);
}
.text-content{
    padding: 20px;
    width: 800px;
    font-family: Roboto;
    font-size: 14px;
}
footer{
    clear: left;
    background-color: #b4b7ba;
    margin-left: 86px;
}
footer div{
    display: inline-block;
}
.footer-bar div,
.copyright{
    display: inline-block;
    color: black;
    padding-top: 22px;
    padding-bottom: 21px;
    padding-left: 20px;
    font-size: 20px;
    font-family: Roboto;
}
.footer-bar div:hover {
    color: #3181a6;
    text-decoration: underline;
}
.copyright{
    clear: a;
    margin-left: 300px;
}