.container {
  border: 1px dashed red; }
  .container .list {
    margin: 5px; }
    .container .list .item {
      padding: 10px;
      color: cadetblue; }
      .container .list .item.active {
        background-color: aqua;
        color: red;
        border: 1px dashed red;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
    .container .list .item-sub-element {
      -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      transform: rotate(10deg); }
