body{
    margin: 0%;
}
nav{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
nav a{
    color: #16a085;
    text-decoration: none;
    font-family: 'Roboto Black';
    margin-right: 40px;
    margin-left: 40px;
     
}
div{
    background-color: #f5f6f7; 
}
.content{
    padding-top: 56px;
    text-align: center;
}
.content h3{
    font-family: 'Roboto Black';
} 
.content p{
    margin-bottom: 41px;
    font-family: 'Roboto';    
    
    margin-left: 107px;
    margin-right: 107px; 
}
.content button{
    background: #16a085; 
    display: inline-block;
    color: white;
    font-family: 'Roboto';    
    padding: 18px 48px;
    border: none;
    border-radius: 5px;
    margin-bottom: 97px;
}
footer{
    text-align: right;
    margin-right: 60px;
    margin-top: 44px;
    margin-bottom: 44px;
    font-family: 'Roboto Black';
    color: #373737;    
}