body{
    width: 520px;
    font-size: 40px;
}
body div{
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
    background-color: lightgray;
}
.btn-new-game{
    background-color: lightgray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.bomb{
    background-color: red;
    color: red;
    border-radius: 4px;
}
.close{
    background-color: white;
    color: white;
    border: 1px solid gray;
    border-radius: 4px;
}
.flag{
    background-color: green;
    color: green;
}
#text{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
}