body{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    float: left;
    margin-right: 20px;
}

th, td {
    border: 1px solid #525252;
}
th {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

table th{
    background-color: white;
}
table th.active{
    background-color: black;
}
table.active th{
    background-color: black;
}
table.active th.active{
    background-color: white;
}