doctype htmlhtml    head        include includes/head    body(class="bg-success")        h1 Hello world        ul            each client in clients                li=client.firstName        include includes/foot