@import "veribles";
@import "mixins";
@import "small-mobile-style"; // width: 320px
@import "large-mobile-style"; // width: 640px
@import "tablet-style";       // width: 980px
@import "laptop-style";       // width: 1200px

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}