@import "veribles";
@import "mixins";

@media (min-width: $smallMobileWidth + 1) and (max-width: $largeMobileWidth) {
  body{
    min-width: $largeMobileWidth;
  }
  header {
    nav {
      height: 74px;
      .nav-name {
        font-size: 24px;
        margin-left: 38px;
        padding-top: 26px;
      }
      .nav-menu {
        width: 82px;
        i {
          font-size: 30px;
        }
        &-close {
          width: 82px;
          i {
            font-size: 30px;
          }
        }
      }
      .menu-list {
        margin-top: 19px;
        div {
          font-size: 20px;
          width: $smallMobileWidth - 9;
          height: 69px;
        }
      }
    }
    .main-title {
      background: url("../img/header-fon-640.png");
      height: 346px;
      .title {
        padding-top: 30px;
        padding-left: 38px;
        font-size: 36px;
      }
      .main-url {
        padding-top: 22px;
        padding-left: 37px;
        font-size: 24px;
      }
    }
  }
  .wrapper-products {
     .product {
      height: 150px;
      .title {
        font-size: 36px;
        width: $largeMobileWidth - 142;
        &.pizza {
          background: url("../img/pizza-fon-640.png") 0 160px;
          height: 150px;
          div {
            @include flex-container;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            height: 100%;
          }
        }
        &.salad {
          background: url("../img/salads-fon-640.png") 0 160px;
          height: 150px;
          div {
            @include flex-container;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            height: 100%;
          }
        }
        &.dessert {
          background: url("../img/desserts-fon-640.png") 0 -27px;
          height: 150px;
          div {
            @include flex-container;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            height: 100%;
          }
        }
      }
      .btn-info {
        width: 142px;
        height: 150px;
        i {
          font-size: 20px;
          @include flex-container;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: 0;
          height: 100%;
        }
      }
    }
  }
  .wrapper-menu {
    .wrapper-title {
      font-size: 26px;
      padding-left: 21px;
      padding-top: 21px;
    }
    .wrapper-description {
      padding-left: 22px;
      font-size: 13px;
    }
    .menu-title {
      height: 75px;
      div {
        font-size: 26px;
        padding-left: 34px;
        padding-top: 23px;
      }
      &.second {
        div {
          font-size: 26px;
          padding-left: 34px;
          padding-top: 23px;
        }
      }
    }
    .list-products {
      padding-left: 34px;
      .title {
        div {
          font-size: 25px;
          margin-top: 30px;
        }
        .w640{
          display: inline;
        }
        .w320, .w980, .w1200{
          display: none;
        }
        img {
          top: -9px;
          right: 36px;
        }
        &.second {
          img {
            top: 24px;
            right: 46px;
          }
        }
        &.cup {
          img {
            top: 23px;
            right: 31px;
          }
        }
        &.cup2{
          img {
            top: 29px;
            right: 32px;
          }
        }
      }
      .product-name {
        .title {
          font-weight: normal;
          font-size: 20px;
        }
        .price {
          right: 35px;
          top: 17px;
          font-size: 20px;
        }
        .description {
          font-weight: normal;
          padding-right: 36px;
          font-size: 10px;
        }
      }
    }
  }
  footer {
    @include flex-container;
    justify-content: center;
    align-items: center;
    height: 97px;
    margin-top: 117px;
    padding: 0;
    div {
      padding: 0;
      margin: 0;
      font-size: 18px;
      &.second-line {
        padding-top: 5px;
      }
    }
  }
}