@import "veribles";
@import "mixins";

body{
  min-width: $smallMobileWidth;
}
header {
  display: block;
  nav {
    position: relative;
    background-color: $gray;
    height: 37px;
    font-family: 'Montserrat', sans-serif;
    .nav-name {
      max-width: 300px;
      font-size: 12px;
      margin-left: 18px;
      padding-top: 10px;
      color: rgba(255, 255, 255, 255);
    }
    .nav-menu {
      @include flex-container;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3;
      cursor: pointer;
      background-color: $black;
      color: white;
      width: 41px;
      height: 100%;
      i {
        @include flex-container;
        justify-content: center;
        width: 100%;
      }
      &-close {
        @include flex-container;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        cursor: pointer;
        background-color: $black;
        color: white;
        width: 41px;
        height: 100%;
        i {
          @include flex-container;
          justify-content: center;
          font-size: 22px;
          width: 100%;
        }
      }
    }

    .menu-list {
      display: none;
      cursor: pointer;
      z-index: 4;
      margin-top: 12px;
      position: absolute;
      right: 0;
      div {
        @include flex-container;
        padding-left: 10px;
        font-size: 10px;
        background-color: $menuList-white;
        width: $smallMobileWidth/2 + 12;
        height: 32px;
        border-bottom: .5px $menuList-gray solid;
        span {
          position: relative;
          left: 3px;
          top: 2px;
        }
        &:hover {
          background-color: $menuList-gray;
        }
      }
      &.active {
        display: block;
      }
    }
  }
  .main-title {
    background: url("../img/header-fon.png");
    width: 100%;
    height: 173px;
    .title {
      padding-top: 14px;
      padding-left: 20px;
      font-size: 16px;
      font-weight: bold;
      color: white;
      div:nth-child(2) {
        padding-top: 4px;
      }
    }
    .main-url {
      padding-top: 7px;
      padding-left: 20px;
      font-size: 14px;
      font-weight: bold;
      color: rgba(166, 214, 224, 255);
    }
  }
}

.wrapper-products {
  margin-top: 4px;
  .product {
    @include flex-container;
    width: 100%;
    height: 75px;
    margin-top: 2px;
    .title {
      color: white;
      font-size: 20px;
      width: $smallMobileWidth - 71;
      height: 100%;
      &.pizza {
        background: url("../img/pizza-fon.png") -21px 87px;
        height: 75px;
        div {
          font-weight: bold;
          padding-top: 23px;
          padding-left: 63px;
        }
      }
      &.salad {
        background: url("../img/salads-fon.png") 0 86px;
        height: 75px;
        div {
          font-weight: bold;
          padding-top: 25px;
          padding-left: 74px;
        }
      }
      &.dessert {
        background: url("../img/desserts-fon.png") 0 -27px;
        height: 75px;
        div {
          font-weight: bold;
          padding-top: 24px;
          padding-left: 83px;
        }
      }
    }
    .btn-info {
      cursor: pointer;
      width: 71px;
      background-color: $green;
      height: 100%;
      i {
        font-size: 13px;
        color: white;
        padding-left: 30px;
        padding-top: 29px;
      }
      &:hover {
        background-color: $green - 50;
      }
    }

  }
}

.wrapper-menu {
  .wrapper-title {
    text-transform: uppercase;
    font-size: 20px;
    color: $black;
    padding-left: 8px;
    padding-top: 18px;
  }
  .wrapper-description {
    padding-left: 10px;
    font-size: 10px;
    color: rgba(203, 204, 206, 255);
  }
  .menu-title {
    height: 37px;
    margin-top: 10px;
    background-color: #3f4043;
    div {
      font-size: 20px;
      color: $green;
      text-transform: uppercase;
      padding-left: 18px;
      padding-top: 6px;
    }
    &.second {
      background-color: $green;
      margin-top: 29px;
      div {
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        padding-left: 18px;
        padding-top: 6px;
      }
    }
  }
  .list-products {
    padding-left: 17px;
    .title {
      position: relative;
      width: 100%;
      div {
        font-size: 15px;
        text-transform: uppercase;
        color: $gray;
        margin-top: 15px;
      }
      .w640, .w980, .w1200{
        display: none;
      }
      img {
        position: absolute;
        top: -4px;
        right: 17px;
      }
      &.second {
        padding-top: 5px;
        img {
          position: absolute;
          top: 17px;
          right: 22px;
        }
      }
      &.cup {
        padding-left: 2px;
        padding-top: 1px;
        img {
          position: absolute;
          top: 13px;
          right: 17px;
        }
      }
    }
    .product-name {
      color: $gray;
      position: relative;
      font-weight: bold;
      font-size: 13px;
      .title {
        padding-top: 18px;
        padding-left: -2px;
        font-weight: bold;
        font-size: 13px;
      }
      .price {
        position: absolute;
        right: 16px;
        top: 17px;
        font-weight: bold;
        font-size: 14px;
      }
      .description {
        padding-top: 6px;
        font-size: 8.5px;
      }
      &.second {
        margin-top: -10px;
      }
    }
  }
}
footer {
  margin-top: 48px;
  width: 100%;
  height: 55px;
  background-color: $green;
  div {
    padding-top: 4px;
    padding-left: 5px;
    font-size: 14px;
    color: white;
    text-align: center;
    &.second-line {
      padding-top: 1px;
      padding-left: 2px;
    }
  }
}
