@import "veribles";
@import "mixins";

@media (min-width: $largeMobileWidth + 1) and (max-width: $tabletWidth) {
  body {
    min-width: $tabletWidth;
  }
  header {
    nav {
      position: relative;
      height: 96px;
      .nav-name {
        display: none;
      }
      .nav-menu {
        display: none;
        &-close {
          display: none;
        }
      }
      .nav-logo {
        position: absolute;
        top: 8px;
        right: 30px;
        background: url('../img/navigation-logo-980.png');
        width: 104px;
        height: 83px;
      }
      .menu-list {
        @include flex-container;
        cursor: unset;
        margin: 0;
        width: 800px;
        height: inherit;
        position: unset;
        div {
          @include flex-container;
          justify-content: center;
          align-items: center;
          color: white;
          padding: 0;
          margin: 0;
          cursor: unset;
          font-size: 15px;
          text-transform: uppercase;
          background-color: inherit;
          border-bottom: none;
          span {
            cursor: pointer;
          }
          &:hover {
            background-color: initial;
          }
        }
      }
    }
    .main-title {
      background: url("../img/header-fon-980.png");
      width: 100%;
      height: 530px;
      .title {
        padding-top: 64px;
        padding-left: 30px;
        font-size: 54px;
        div:nth-child(2) {
          padding-top: 10px;
        }
      }
      .main-url {
        padding-top: 57px;
        padding-left: 30px;
        font-size: 34px;
      }
    }
  }
  .wrapper-products {
    @include flex-container;
    flex-direction: row;
    margin-top: 6px;
    .product {
      height: 327px;
      width: 100%;
      .title {
        font-size: 38px;
        width: 100%;
        height: 100%;
        &.pizza {
          background: url("../img/pizza-fon-980.png");
          height: 327px;
          div {
            @include flex-container;
            justify-content: center;
            align-content: center;
            height: 100%;
            padding: 0;
            margin: 0;
          }
        }
        &.salad {
          background: url("../img/salads-fon-980.png");
          height: 327px;
          div {
            @include flex-container;
            justify-content: center;
            align-content: center;
            height: 100%;
            padding: 0;
            margin: 0;
          }
        }
        &.dessert {
          background: url("../img/desserts-fon-980.png");
          height: 327px;
          div {
            @include flex-container;
            justify-content: center;
            align-content: center;
            height: 100%;
            padding: 0;
            margin: 0;
          }
        }
      }
      .btn-info {
        display: none;
      }
    }
  }
  .wrapper-menu {
    position: relative;
    .wrapper-title {
      font-size: 32px;
      padding-left: 30px;
      padding-top: 72px;
    }
    .wrapper-description {
      padding-left: 30px;
      font-size: 16px;
    }
    .menu-logo {
      position: absolute;
      top: 47px;
      right: 29px;
      width: 109px;
      height: 89px;
      background: url("../img/menu-logo-980.png");
    }
    .row {
      @include flex-container;
      flex-direction: row;
      width: 100%;
      .menu-title {
        @include flex-container;
        align-items: center;
        height: 75px;
        margin-top: 21px;
        padding: 0 0 0 18px;
        width: $tabletWidth/2;
        div {
          font-size: 32px;
          padding-left: 18px;
          padding-top: 6px;
        }
        &.second {
          margin-top: 23px;
          padding: 0 0 0 18px;
          width: $tabletWidth/2 - 34;
          div {
            font-size: 32px;
            padding-left: 18px;
            padding-top: 6px;
          }
        }
      }
      .list-products {
        padding-left: 19px;
        .title {
          div {
            font-size: 17px;
            margin-top: 31px;
          }
          .w320, .w640, .w1200 {
            display: none;
          }
          .w980 {
            display: block;
          }
          img {
            position: absolute;
            top: -14px;
            right: 14px;
          }
          &.second {
            padding-top: 0;
            img {
              position: absolute;
              top: -14px;
              right: 24px;
            }
          }
          &.cup {
            padding-left: 0;
            padding-top: 1px;
            img {
              position: absolute;
              top: 23px;
              right: 33px;
            }
          }
          &.cup2 {
            padding-left: 0;
            padding-top: 1px;
            img {
              position: absolute;
              top: 23px;
              right: 33px;
            }
          }
        }
        .product-name {
          font-size: unset;
          .title {
            padding-top: 24px;
            font-size: 16px;
          }
          .price {
            right: 16px;
            top: 26px;
            font-weight: bold;
            font-size: 14px;
          }
          .price-col2 {
            right: 36px;
            top: 26px;
            font-weight: bold;
            font-size: 14px;
          }
          .description {
            padding-top: 10px;
            padding-right: 10px;
            font-size: 11px;
          }
          .description-col2 {
            padding-right: 34px;
            font-size: 11px;
          }
          &.second {
            margin-top: -10px;
          }
        }
      }
    }
  }

  footer {
    position: relative;
    height: 97px;
    .footer-logo {
      position: absolute;
      background: url("../img/navigation-logo-980.png") no-repeat;
      width: 104px;
      height: 83px;
      left: 30px;
      top: 8px;
    }
    .text {
        @include flex-container;
        padding: 0 0 0 420px;
        margin: 0;
        font-size: 22px;
        height: 100%;
      div{
        padding: 0;
        margin: 0;
        font-size: 18px;
        &.second-line{
          padding-left: 5px;
        }
      }

    }
  }
}