.slider{
    max-width: 80%;
    position: relative;
    height: 330px;
    margin: auto;
}
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 330px;
}
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .prev {
    left: -68px;
    color: black;
    border-radius: 20px 0 0 20px;
}
.slider .next {
    right: -68px;
    color: black;
    border-radius: 0 20px 20px 0;
}
.slider .prev:hover,
.slider .next:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}