@import "_veribles";
@import "_mixins";

.container {
  border: $baseBorderStyle;

  .list{
    margin: 5px;

    .item{
      padding: $basePadding;
      color: $fontColor;

      &.active{
        background-color: aqua;
        color: red;
        border: $baseBorderStyle;
        @include transform(rotate(180deg));
      }
    }
    .item-sub-element{
      @include transform(rotate(10deg));
    }
  }
}