html{
    overflow: hidden;
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax-wrapper-header{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}
.parallax-wrapper-header::before{
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: black url("../img/Layer 1@1X.png");
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}
.regular-wrapper-what{
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    z-index: 2;
    position: relative;
}
.parallax-wrapper-companies{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}
.parallax-wrapper-companies::before{
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: black url("../img/Layer 73@1X.png");
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}
.regular-wrapper-meet_us{
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    background: white;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    z-index: 2;
    position: relative;
}
.parallax-wrapper-testimonials{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}
.parallax-wrapper-testimonials::before{
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: black url("../img/Layer 74@1X.png");
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}
.regular-wrapper-why{
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    background: white;
    z-index: 2;
    position: relative;
}