header nav{
    position: absolute;
    margin-top: 30px;
    width: 1400px;
    height: 110px;
    background-color: white;
}
header nav > div{
    display: inline-block;
}
header nav .logo-name{
    margin: 35px 182px 37px 201px;
    font-family: ﻿Roboto-Light, ﻿Roboto-Black, ﻿Courier, sans-serif;
    font-size: 30px;
    color: rgba(66, 79, 87, 255);
}
header nav .logo-name > span{
    font-weight: bold;
    color: #14afca;
    text-transform: uppercase;
}
header nav .nav-list{
    margin-right: 60px;
    font-family: ﻿OpenSans-Bold, ﻿AdobeInvisFont, ﻿MyriadHebrew-Regular, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #3e4c4e;
}
header nav .nav-list:hover{
    color: #14afca;
}
header nav .nav-list > a{
    text-decoration: none;
    color: inherit;
}
header .header-phrase{
    font-family: ﻿FuturaBT-Bold, ﻿AdobeInvisFont, ﻿MyriadHebrew-Regular, sans-serif;
    font-size: 51px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 340px;
    margin-left: auto;
    margin-right: auto;
    width: 966px;
}
.content-what > .main-phrase{
    font-family: ﻿Roboto-Bold, ﻿OpenSans-Semibold, ﻿AdobeInvisFont, ﻿MyriadHebrew-Regular, sans-serif;
    font-size: 59px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 100px;
    color: rgba(20, 175, 202, 255);
    text-align: center;
}
.content-what > .second-phrase{
    font-family: ﻿Roboto-Regular, ﻿AdobeInvisFont, ﻿MyriadHebrew-Regular, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: rgba(66, 79, 87, 255);
}
.content-what > p{
    font-family: ﻿Roboto-Regular, ﻿AdobeInvisFont, ﻿MyriadHebrew-Regular, sans-serif;
    font-size: 15px;
    margin-top: 42px;
    margin-left: 214px;
    margin-right: 214px;
    color: rgba(66, 79, 87, 255);
    text-align: center;
}
.content-what > .main-phrase,
.content-companies > .main-phrase,
.content-meet_us > .main-phrase,
.content-testimonials > .main-phrase,
.content-why > .main-phrase{
    font-family: ﻿Roboto-Bold, ﻿OpenSans-Semibold, ﻿AdobeInvisFont, ﻿MyriadHebrew-Regular, sans-serif;
    font-size: 59px;
    font-weight: bold;
    text-transform: uppercase;
    /*margin-top: 100px;*/
    color: rgba(20, 175, 202, 255);
    text-align: center;
}
.content-what > .second-phrase,
.content-companies > .second-phrase,
.content-meet_us > .second-phrase,
.content-testimonials > .second-phrase,
.content-why > .second-phrase{
    font-family: ﻿Roboto-Regular, ﻿AdobeInvisFont, ﻿MyriadHebrew-Regular, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: rgba(66, 79, 87, 255);
}
.content-companies > .main-phrase,
.content-testimonials > .main-phrase{
    padding-top: 100px;
}
.content-companies > .second-phrase,
.content-testimonials > .second-phrase{
    color: white;
}
.content-companies .grid-companies{
    display: grid;
    justify-items: center;
    margin-left: 215px;
    margin-right: 215px;
    align-items: center;
    margin-top: 50px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.content-companies .grid-companies > div{
    margin-bottom: 50px;
}
.content-companies .grid-companies > .adobe-box{
    padding: 15px;
    background-color: white;
}
.content-companies .grid-companies > .adobe-box img{
    vertical-align: middle;
}
.content-meet_us .flex-people{
    display: flex;
    flex-direction: row;
    margin-left: 160px;
    margin-top: 47px;
}
.content-meet_us .flex-people > div{
    margin-right: 160px;
}
.content-meet_us .flex-people > div > .photo{
    text-align: center;
}
.content-meet_us .flex-people > div > .description{
    text-align: center;
    margin-top: 10px;
    font-family: ﻿Roboto-Regular, ﻿AdobeInvisFont, ﻿MyriadHebrew-Regular, sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: rgba(66, 79, 87, 255);
}
.content-testimonials .quote{
    font-family: ﻿OpenSans-Italic, ﻿MyriadPro-Regular, ﻿AdobeInvisFont, ﻿MyriadHebrew-Regular, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: rgba(211, 204, 204, 255);
    text-align: center;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    width: 877px;
}
.content-testimonials .author{
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    width: 877px;
    font-style: italic;
    text-align: right;
}
.content-testimonials .author span{
    font-family: ﻿OpenSans-SemiboldItalic, ﻿MyriadPro-Regular, ﻿AdobeInvisFont, ﻿MyriadHebrew-Regular, sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
}
.content-testimonials .author span::before{
    content: "- ";
}
.content-why > p{
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Bold, ﻿Courier, sans-serif;
    font-size: 29px;
    font-weight: bold;
    width: 779px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(66, 79, 87, 255);
    text-align: center;
    text-transform: uppercase;
}
.content-why > p > span::after{
    content: " + ";
}
.content-why > p > .span-end::after{
    content: " = ";
}
footer{
    margin-top: 313px;
    /*margin-bottom: 104px;*/
    text-align: center;
}
footer .text{
    font-family: ﻿OpenSans-Bold, ﻿OpenSans, ﻿AdobeInvisFont, ﻿MyriadHebrew-Regular, sans-serif;
    font-size: 13px;
    color: rgba(61, 60, 60, 255);
}
footer .text > span{
    font-weight: bold;
}