/*#d1{*/
/*background-color: red;*/
/*}*/
/*#d2{*/
/*background-color: yellow;*/
/*}*/
div{
    font-size: 25px;
}
div p{
    color: red;
}
p{
    color: green;
}
.mr{
    width: 500px;
    border: 1px red solid;
    margin: 10px 200px 200px 50px;
    padding: 25px 5px 10px 5px;
}