html{
    background: rgba(0, 0, 0, 1) url("../img/background@1X.png");
    width: 1366px;
    height: 768px;
}
a{
    text-decoration: none;
}
.logo{
    margin-left: 155px;
    margin-top: 49px;
}
.logo a:hover div{
    color: #f26522;
}
.logo .img-logo{
    margin-right: 15px;
}
.logo div{
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier, sans-serif;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    float: left;
}
.logo p{
    margin: 0;
    font-weight: bold;
}
.logo .main-name{
    font-size:25px;
}
.logo .second-name{
    font-size: 15px;
}
.info-logo{
    float: right;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    text-align: right;
}
.info-logo{
    margin-right: 147px;
    margin-top: 8px;
}
.info-logo p{
    margin: 0;
}
.tours{
    clear: both;
}
.tours{
    margin-left: 155px;
}
.tours .content{
    position: relative;
    margin-top: 58px;
    margin-right: 69px;
    float: left;
}
.tours .content .img-card{
    width: 307px;
    height: 200px;
}
.tours .content img{
    width: 307px;
    height: 200px;
}
.tours .content p{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
footer{
    clear: both;
    margin-left: 50px;
    padding-top: 10px;
}
footer p{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 13px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
