*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    justify-content: center;
}
.container {
    width: 800px;
}
#scene {
    background-color: #f45000;
    border: 1px solid #000;
    padding: 5px;
}